#ComputerText {
	-fx-text-fill: white;
	-fx-text-box-border: transparent;
}

#ComputerText .content {
	-fx-background-color: black;
	-fx-text-box-border: transparent;
}

.root {
	-fx-focus-color: transparent;
}

.text-area > .scroll-pane {
    -fx-padding: 0;
}